{% extends 'app/home.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    <title>Ventas</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'app/css/ventas.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'app/icons/style.css' %}">
{% endblock %}

{% block content %}
    <div class="content_header d-flex justify-content-between align-items-center mb-3">
        <div class="text">
            <p>Busca productos por su <strong>Id</strong> y <strong>Nombre</strong>. Para vender</p>
        </div>
        <form action="" class="d-flex" method="get">
            <input class="form-control me-2 fw-bold" type="search" placeholder="Buscar Productos..."
                   aria-label="Search" name="search" value="{{ request.GET.search }}">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    <hr>

    <!-- Resultados de la busqueda -->
    {% if result_search_vent %}
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">P. Compra</th>
                  <th scope="col">P. Venta</th>
                  <th scope="col">Ganancia</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Ganancia Total</th>
                  <th scope="col">Marca</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pv in result_search_vent %}
                    <tr>
                        <th scope="row">{{ pv.id }}</th>
                        <td>{{ pv.nombre }}</td>
                        <td class="rows-text-1">{{ pv.descripcion }}</td>
                        <td>$ {{ pv.precio_compra | intcomma }}</td>
                        <td>$ {{ pv.precio_venta | intcomma }}</td>
                        <td>$ {{ pv.get_utilities_prd | intcomma }}</td>
                        <td>{{ pv.cantidad | intcomma }}</td>
                        <td>$ {{ pv.get_utilities_total | intcomma }}</td>
                        <td>{{ pv.marca | title }}</td>
                        <td>{{ pv.username }}</td>
                        <td class="product_options">

                            <a href="{% url 'incrementar_prd' pv.id %}" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Incrementar la Cantidad">
                                    <span class="icon-plus"></span>
                                </button>
                            </a>

                            <a href="{% url 'decrementar_prd' pv.id %}" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Decrementar la Cantidad">
                                    <span class="icon-minus"></span>
                                </button>
                            </a>

                            <a href="{% url 'view_producto' pv.id %}" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-info" data-bs-toggle="modal" data-bs-target="#viewProduct" data-bs-placement="bottom" title="Ver Producto">
                                    <span class="icon-eye"></span>
                                </button>
                            </a>

                            <a href="{% url 'edit_producto' pv.id %}" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar {{ p.nombre }}">
                                    <span class="icon-pencil"></span>
                                </button>
                            </a>

                            <a href="{% url 'add_cart' pv.id %}" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Guardar para vender">
                                    <span class="icon-cart"></span>
                                </button>
                            </a>

                            <a href="#" onclick="delete_product({{ pv.id }})" class="text-decoration-none">
                                <button type="button" class="btn p-0 text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Borrar {{ p.nombre }}">
                                    <span class="icon-bin"></span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    {% else %}
        {% if request.GET.search not in result_search_vent %}
            <h3>No hay coincidencias, intenta de nuevo!</h3>
            <p>Tú buscaste con la palabra: <span class="text-primary fs-4">{{ request.GET.search }}</span></p>
            <a href="{% url 'ventas' %}">
                <button class="btn btn-info mb-5">Limpiar</button>
            </a>
        {% endif %}
    {% endif %}


    {% if request.session.cart.items %}
        <div class="d-grid row">
            <!-- Listado de productos en el carrito -->
            <table class="table table-hover">
                    <thead>
                        <tr>
                          <th scope="col">#id</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">P. Venta</th>
                          <th scope="col">Cantidad a Vender</th>
                          <th scope="col">I.V.A.</th>
                          <th scope="col">Monto Total</th>
                          <th scope="col">Marca</th>
                          <th scope="col">Usuario</th>
                          <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in request.session.cart.items %}
                            <tr>
                                <th scope="row" class="number">{{ v.producto_id }}</th>
                                <td>{{ v.nombre }}</td>
                                <td class="rows-text-1">{{ v.description }}</td>
                                <td class="number">$ {{ v.precio_v | intcomma }}</td>
                                <td class="number">{{ v.cantidad_vender }}</td>
                                <td class="number"></td>
                                <td class="number">$ {{ v.monto_total }}</td>
                                <td>{{ v.proveedor | title }}</td>
                                <td>{{ v.username }}</td>
                                <td class="product_options">

                                    <a href="#" class="text-decoration-none">
                                        <button type="button" class="btn p-0 text-info" data-bs-toggle="modal" data-bs-target="#exampleModal{{ v.producto_id }}" data-bs-placement="bottom" title="Editar cantidad a vender">
                                            <span class="icon-plus"></span>
                                        </button>
                                    </a>

                                    <a href="{% url 'view_producto' v.producto_id %}" class="text-decoration-none">
                                        <button type="button" class="btn p-0 text-info" data-bs-toggle="modal" data-bs-target="#viewProduct" data-bs-placement="bottom" title="Ver Producto">
                                            <span class="icon-eye"></span>
                                        </button>
                                    </a>

                                    <a href="#" class="text-decoration-none">
                                        <button type="button" class="btn p-0 text-info" data-bs-toggle="modal" data-bs-target="#precioVentaModal{{ v.producto_id }}" data-bs-placement="bottom" title="Guardar para vender">
                                            <span class="icon-coin-dollar"></span>
                                        </button>
                                    </a>

                                    <a href="#" onclick="delete_prd_cart({{ v.producto_id }})" class="text-decoration-none">
                                        <button type="button" class="btn p-0 text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Borrar {{ p.nombre }}">
                                            <span class="icon-bin"></span>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="number"></td>
                            <td></td>
                            <td class="number">16%</td>
                            <td class="number">$ {{ total_cart | intcomma }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="number">16%</td>
                            <td class="number">$ {{ total_iva | intcomma }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
            </table>

             <!-- Listado de Clientes a seleccionar -->
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="text-center">Clientes</h2>
                    <p>Selecciona un cliente para venderle</p>
                    <p class="alert-warning py-1 px-3"><strong>Nota:</strong> Solo puedes vender a un cliente a la vez.</p>
                    {% if clientes %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {% for c in clientes %}
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="{{ c.id }}" id="flexCheckChecked" name="selected_client">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        #{{ c.id }}
                                        {{ c.nombres }}
                                        {{ c.apellidos }}
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="container-buttons mt-3 d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-info">Limpiar</button>
                            </div>
                        </form>
                    {% else %}
                        <p class="alert-danger py-1 px-3">No tienes clientes. Crea uno <a href="{% url 'clientes' %}" class="text-primary text-decoration-none">aquí</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-7">
                <h3>No hay productos para vender</h3>
                <h5>Busca uno arriba :)</h5>
            </div>
        </div>
    {% endif %}

    {% if request.session.cart.items %}
        {% for v in request.session.cart.values %}
            <!-- Modal editar la cantidad a vender -->
            <div class="modal fade" id="exampleModal{{ v.producto_id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ v.producto_id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edite la cantidad a vender</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'add_cart' v.producto_id %}" method="post">
                                {% csrf_token %}
                                <input type="number" value="{{ v.cantidad_vender }}" class="form-control mb-3" name="cantidad-v">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="precioVentaModal{{ v.producto_id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ v.producto_id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edite el precio de venta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <small class="text mx-3"><strong class="text-dark title">Nota: </strong>Use <strong>.</strong> en lugar de <strong>,</strong> para números decimales</small>
                            <form action="{% url 'update_pv' v.producto_id %}" method="post">
                                {% csrf_token %}
                                <input type="" value="{{ v.precio_v | intcomma }}" class="form-control mb-3" name="precio-v">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% if request.session.cart.items and clientes and factura %}
        <!-- Botón para generar la factura -->
        <a href="{% url 'factura_ventas' factura.n_factura %}">
            <button type="submit" class="ready_factura btn btn-primary"  data-bs-placement="bottom" title="Terminar Factura">
                <span class="icon-checkmark"></span>
            </button>
        </a>

        <!-- Botón para limpiar el carrito de compras -->
        <a href="#" onclick="clean_cart()">
            <button type="button" class="clean_cart btn btn-danger"  data-bs-placement="bottom" title="Limpiar Carrito">
                <span class="icon-x"></span>
            </button>
        </a>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        function delete_prd_cart(id) {
            Swal.fire({
                'title': '¿Estás Seguro?',
                'text': 'Esta borrando el producto del carrito.',
                'icon': 'warning',
                'showCancelButton': true,
                'cancelButtonText': 'Cancelar',
                'confirmButtonText': 'Eliminar',
                'confirmButtonColor': '#dc3545'
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = '/delete_prd_cart/'+id+'/'
                }
            })
        }

        function clean_cart() {
            Swal.fire({
                'title': '¿Estás Seguro?',
                'text': 'Se borrarán todos los productos del carrito.',
                'icon': 'warning',
                'showCancelButton': true,
                'cancelButtonText': 'Cancelar',
                'confirmButtonText': 'Limpiar',
                'confirmButtonColor': '#dc3545'
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = '/clean_cart/'
                }
            })
        }

    </script>
{% endblock %}
