.client_options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.client_options button {
    padding: 0 0.2rem !important;
    outline: none;
    transition: all .3s ease;
}

.client_options button:hover {
    outline: 1px solid #000;
}